body {
  /* background-color: #1a0554; */
  font-family: "Roboto", sans-serif;
  background-color: #F8DFD4;
}

main {
  display: flex;
}

aside {
  background-color: #c4a8ff;
  width: 100%;
  height: 100vh;
}

.sideBarContainer {
  margin: 4.5rem 1.4rem;
}

.btn-container {
  position: fixed;
}

.container {
  max-width: auto;
  height: 100vh;
  margin: 0 auto;
}

.sideBarContainer a {
  color: #f9fafb;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  margin: 20px;
}

button {
  cursor: pointer;
  margin: 1.25rem;
  border: none;
  padding: 0.6rem 1rem;
  background-color: #f9fafb;
}

.sideBar {
  /* width: 30%; */
}

.content {
  width: 65%;
  margin-top: 1.5%;
  margin-left: 10%;
  /* padding-bottom: 10%; */
  /* padding-left: 10%; */
  /* padding-top: 10%; */
  /* height: 100px; */
  overflow: hidden;
  height: max-content;
  /* background: white; */
}
